@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.font-Mulish {
    font-family: "Mulish", sans-serif;
}

.banner-normal {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 86px;
    /* 134.375% */
}

.banner-span {
    background: linear-gradient(90deg, #8285e9 1%, rgba(124, 125, 151, 0.621) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
}

.dashed-line {
    width: 100%;
    height: 1px;
    background: transparent;
    border-bottom: 2px dashed rgb(220, 215, 215); /* Adjust color and style as needed */
}
.footer-col{
    background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);
}